@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #0A060F;
  --background: #F3EFFB;
  --primary: #5E24DB;
  --secondary: #A17AF5;
  --accent: #8243FE;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #F4F0F9;
    --background: #080410;
    --primary: #5E24DB;
    --secondary:#310A85;
    --accent: #3F01BC;
  }
}
