name: Upload Python Package

on:
  workflow_dispatch:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  pypi-publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    environment:
      name: release
      url: https://pypi.org/project/thread
    permissions:
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python 3.x
        uses: actions/setup-python@v5
        with:
          python-version: 3.x

      - name: Install dependencies
        run: |
          set -xe
          python -m pip install poetry
          python -m poetry install

      - name: Build Thread
        run: |
          set -xe
          python -m poetry build

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
